.CurrentDisplay-conditions {
    margin-top: -.2em;
    color: white;
    font-size: 1.5em;
    text-shadow: .1em .1em 1em $font-shadow-dark;
    text-shadow: .1em .1em 1em $font-shadow-dark--transparent;
}
