.Day {
    cursor: pointer;
    text-shadow: $font-shadow-dark 0 0 3px;
    text-shadow: $font-shadow-dark--transparent 0 0 3px;
    color: white;
    font-size: 1.3em;
}
.Day.is-active {
    border-radius: 10px;
    background-color: $secondary;
    background-color: $secondary--transparent;
    box-shadow: $box-shadow 1px 1px 10px;
    box-shadow: $box-shadow--transparent 1px 1px 10px;
}
.Day-label {
    text-align: center;
    font-size: 1.2em;
}
.Day-temperature {
    font-weight: 700;
}
.Day-image {
    display:block;
    margin:auto;
}
@media (max-width: $screen-sm-min) {
    .Day-image {
        width: 30px;
        height: 30px;
    }
    .Day {
        clear: both;
    }
}
@media (min-width: $screen-sm-min) {
    .Day-temperature--high {
        float: right;
    }
    .Day-temperature--low {
        float: left;
    }
}
