.Location {
    color: white;
    font-size: 3.9em;
    text-shadow: .1em .1em .5em #373232;
}
.Location-marker {
    color: $primary;
    font-size: .7em;
    vertical-align: middle;
    display: inline-block;
    padding-bottom: 0.3em;
    padding-right: 15px;
}
.Location-pencil {
    color: $secondary;
    color: $secondary--transparent;
    font-size: .5em;
    vertical-align: middle;
    display: inline-block;
    padding-bottom: 0.4em;
    padding-left: 15px;
}
.Location-spinner {
    color: $secondary;
    color: $secondary--transparent;
    font-size: .7em;
    vertical-align: middle;
    display: inline-block;
    padding: 15px;
}
.Location-pencil:hover {
    color: white;
    cursor: pointer;
}
.Location-edit {
    display: inline-block;
    width: 3em;
    height: 1.4em;
    font-size: .9em;
    margin: 0;
    padding: 0;
    padding-left: .1em;
}
.Location-edit.is-invalid {
    border: 1px solid $invalid;
}
@media (max-width: $screen-sm-min) {
    .Location-display {
        border-bottom: 2px $primary solid;
    }
}
